div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    clear: both;
    background-color: $color-primary;
    color: white;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;
    }
  }
}
